@inherits LayoutComponentBase
@using Microsoft.Data.SqlClient;
<PageTitle>BlazorAppPowerBI</PageTitle>

<div class="page">
    <div class="sidebar">
        <CascadingValue Value="@userInfo">
        <NavMenu />
        </CascadingValue>
    </div>  

    <main>
      <div class="top-row px-4">
            <h4>@userInfo.name</h4>
            <a href="/" target="_self">Sign out</a>
        </div>     

        <article class="content px-4">
            <CascadingValue Value="@userInfo">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>

@code{
    private Data.UserInfoGlobalClass userInfo = Data.UserInfoGlobalClass.ob;
}

